<!DOCTYPE html>
<html lang="nl">
<head>
  <script src="https://use.fontawesome.com/3dc96aefb5.js"></script>
	<title>Nieuws</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
</head>

<body>
  <header>
    <h1>Nieuws over Longboarden</h1>
    <nav>
      <ul>
        <li><a href="../index.html">home</a></li>
        <li><a href="../pages/hobby.html">hobby</a></li>
        <li><a href="#">nieuws</a></li>
      </ul>
    </nav>
  </header>

  <main>
      <div class="nieuwscontainer">
        <section class="groottekstvlak">
          <h2>Cruising</h2>
          <p>
            <img src="../img/nieuws4.jpg" alt="cruising img" class="nimg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <a class="leesmeer" href="cruising.html">lees meer...</a>
          </p>
        </section>
        <section class="groottekstvlak">
          <h2>Dancing</h2>
          <p>
            <img src="../img/nieuws1.jpg" alt="dancing img" class="nimg">
            Lorem ipsum dolor sit met, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p>
          dolore magna aliqua. Ut enim ad minim veniased do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exin culpa qui officia deserunt mollit anim id est laborum.
            <a class="leesmeer" href="dancing.html">lees meer...</a>
          </p>
        </section>
        <section class="groottekstvlak">
          <h2>Downhill</h2>
          <p>
            <img src="../img/nieuws2.jpg" alt="downhill img" class="nimg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labe eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <a class="leesmeer" href="downhill.html">lees meer...</a>
          </p>
        </section>
        <section class="groottekstvlak">
          <h2>121c Boards</h2>
          <p>
            <img src="../img/nieuws3.jpg" alt="121c board img" class="nimg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicit labore et do aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exlore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis
            <a class="leesmeer" href="121c.html">lees meer...</a>
          </p>
        </section>
      </div>
  </main>
  <footer> footer </footer>
</body>
