<!DOCTYPE html>
<html lang="nl">
<head>
  <script src="https://use.fontawesome.com/3dc96aefb5.js"></script>
	<title>Longboarden</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
</head>

<body>
  <header>
    <h1>Nieuws over Longboarden</h1>
    <nav>
      <ul>
        <li><a href="#">home</a></li>
        <li><a href="pages/hobby.html">hobby</a></li>
        <li><a href="pages/nieuws.html">nieuws</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="addcontainer">
      <a href="https://koastal.co/" class="hidden"><img src="img/koastaladd.jpg" alt="koastal add"></a>
      <a href="https://loadedboards.com/"><img src="img/loadedadd.jpg" alt="loadedboards add"></a>
      <a class="hidden" href="https://www.globebrand.com/skateboards/longboards"><img src="img/globeadd.jpg" alt="globe add"></a>
      <a class="hidden" href="http://arborcollective.com/"><img src="img/arboradd.jpg" alt="arbor add"></a>
    </div>

      <div class="nieuwscontainer">
        <div class="secondcontainer">
          <section class="nieuws">
            <h2>Cruising</h2>
            <p><img src="img/nieuws4.jpg" alt="cruising img" class="nimg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt  Excepteur sint occaecat cupidatat non proident,<a class="leesmeer" href="pages/cruising.html">lees meer...</a></p>
          </section>

            <section class="nieuws">
              <h2>Downhill</h2>
              <p><img src="img/nieuws2.jpg" alt="downhill img" class="nimg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt <a class="leesmeer" href="pages/downhill.html">lees meer...</a></p>
            </section>
        </div>
        <div class="secondcontainer">
          <section class="nieuws">
            <h2>Dancing</h2>
            <p><img src="img/nieuws1.jpg" alt="dancing img" id="dancingimg" class="nimg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,  <a class="leesmeer" href="pages/dancing.html">lees meer...</a></p>
          </section>

          <section class="nieuws">
            <h2>121c boards</h2>
            <p><img src="img/nieuws3.jpg" alt="121c board" class="nimg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt <a class="leesmeer" href="pages/121c.html">lees meer...</a></p>
          </section>
        </div>
      </div>
  </main>
  <footer> footer </footer>
</body>
